body {
    margin: 0;
    background: rgb(4, 196, 255);
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 400px;





    &__display {
        background-color: rgb(255, 250, 241);
        padding: 0px 35px;
        height: 60px;
        border-radius: 18px 18px 0px 0px;



        text-align: right;
        color: black;
        line-height: 60px;

    }

    &__actions {
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;

        border-radius: 0px 0px 18px 18px;

        button {
            width: 113px;
            height: 40px;
            -webkit-appearance: none;
            outline: auto;
            border: 1px;
            border-radius: 5px;
            background-color: orange;
            margin: 5px;

        }

        .action {
            background-color: rgb(255, 236, 199);
        }

        .operator {
            background-color: rgb(255, 255, 255);
        }

    }
}